@use 'globals' as *;
@use 'reset';
@use 'fonts';
@use 'loader';

// This is necessary...
html {
    @extend %root-window;

    body {
        @extend %root-window;

        #root {
            @extend %root-window;

            #wrapper {
                @extend %root-window;
            }
        }
    }
}

// Disable mobile layout.
main#display {
    @extend %default-center;

    #mobile {
        display: none;
    }

    #desktop {
        @extend %default-center;
        align-items: initial;
        justify-content: initial;
    }
}

// Sidebar and topbar
#desktop {
    $sidebar-length: 16rem;
    $topbar-height: 2rem;

    // Everything inside the sidebar is animated
    #sidebar {
        @include apply-animation;
        $button-height: 5rem;

        background-color: $main-bgcolor;
        color: $main-fgcolor;

        // Make sure everything collapses
        *.collapse {
            width: $topbar-height !important;
        }

        // Panel
        #panel {
            @include horizontal-shadow;
            position: relative;
            width: $sidebar-length;
            height: 100%;
            z-index: 10;

            $banner-height: 10rem;
            $searchbar-height: 2rem;

            #banner {
                @extend %default-center;
                height: $banner-height;

                img {
                    width: 80%;
                    height: auto;
                }
            }

            #banner.collapse {
                @extend %default-center;
                height: 0;
            }

            // TODO: fix border only appearing on input field
            #searchbar {
                display: flex;
                width: 100%;

                input[type='text'] {
                    width: calc(100% - #{$searchbar-height});
                    background-color: $lighter-bgcolor;
                    border: 0;
                    border-bottom: 1px solid rgb(0, 0, 0, 0);
                    box-sizing: border-box;
                    color: $dim-fgcolor;
                    font-size: 1rem;
                    font-weight: 300;
                    height: $searchbar-height;
                    margin: 0;
                    padding: 0;
                    padding-left: 1rem;
                    transition: all 0.3s cubic-bezier(0.65, 0.29, 0.5, 0.94);
                }

                input[type='text']:focus {
                    border-bottom: 1px solid $main-accent;
                }

                input[type='text']:active {
                    color: $main-fgcolor;
                }

                .option {
                    @extend %default-center;
                    width: $searchbar-height;
                    height: $searchbar-height;
                    background-color: $lighter-bgcolor;

                    svg {
                        width: 1rem;
                        height: 1rem;
                        font-size: 1rem;
                    }
                }
            }

            nav {
                width: 100%;
                height: calc(100% - #{$banner-height} - #{$searchbar-height});

                label {
                    @extend %default-center;
                    height: $topbar-height;
                    justify-content: flex-start;
                    padding-left: 1rem;
                    background-color: $darker-bgcolor;
                    color: $main-fgcolor;
                    white-space: nowrap;
                }

                a {
                    @extend %default-center;
                    height: $topbar-height;
                    text-decoration: none;
                    color: $main-fgcolor;

                    .option {
                        @extend %default-center;
                    }

                    svg {
                        @extend %default-center;
                        width: 1.2rem;
                        height: 1.2rem;
                        font-size: 1.2rem;
                        color: $main-fgcolor;
                    }

                    section {
                        @extend %default-center;
                        justify-content: flex-start;
                        height: auto;
                        width: calc(100% - 4rem);
                        margin-left: 1rem;
                        font-size: 1rem;
                        font-weight: 300;
                        text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
                    }
                }

                a.collapse {
                    section {
                        @extend %default-center;
                        margin: 0;
                        width: 0;
                    }
                }
            }
        }

        // collapse/expand button
        @mixin collapse-button {
            @include horizontal-shadow;
            position: fixed;
            display: flex;
            align-items: center;
            justify-content: center;
            bottom: 0%;
            left: 0%;
            width: $sidebar-length;
            height: $topbar-height;
            background-color: $lighter-bgcolor;
            z-index: 100;
        }

        button {
            @extend %default-button;
            @include collapse-button;

            // Icon for the button
            svg {
                @extend %default-center;
                width: 1.5rem;
                height: 1.5rem;
                font-size: 1.5rem;
                color: $main-fgcolor;
                filter: drop-shadow(2px 2px 1px $shadow-color);
            }

            // Text next to the button
            div {
                width: calc(100% - 1.5rem - 2rem);
                margin-left: 1rem;
                font-size: 1.1rem;
                white-space: nowrap;
                font-weight: 300;
                letter-spacing: 0.1rem;
                text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
            }
        }

        button.collapse {
            @extend %default-center;
            @include collapse-button;

            // Make text invisible
            div {
                width: 0;
                margin: 0;
            }
        }
    }

    #topbar {
        @extend %default-center;
        @include vertical-shadow;
        @include default-animation;
        position: fixed;
        top: 0;
        right: 0;
        justify-content: flex-start;
        height: $topbar-height;
        width: calc(100% - #{$sidebar-length});
        background-color: $main-bgcolor;
        color: $main-fgcolor;
        padding-left: 1rem;
        z-index: 200;
    }

    #topbar.collapse {
        width: calc(100% - #{$topbar-height});
    }

    // sub webpages
    article {
        @extend %default-center;
        position: relative;
        height: calc(100% - #{$topbar-height});
        top: $topbar-height;
        padding: $topbar-height;
    }
}
